<h1 class="board-title"><%= board.escape("title") %></h1>

<% board.lists().each(function(list) { %>
  <div class="list-element sortable">
    <li class="list-title"><%= list.escape("title") %></li>
    <ul id="sortable" class="connectedSortable"><% list.cards().each(function(card) {%>
      <div class="card-el" id="<%= card.escape("ord") %>">
        <li>
          <%= card.escape("title") %> - <%= card.escape("description") %>
          <button class="delete-card" id="<%= card.escape("id")%>" data-list="<%= list.escape("id") %>">
            Delete
          </button>
        </li>
      </div>
      <% }) %>
    </ul>
      <div class="create-card">
        <input type="hidden" class="list-id" value="<%= list.escape("id") %>">
        <button class="new-card">Add Card...</button>
      </div>
    </div>
<% }) %>
  <li class="new-list">
    <button class="new-list-link">Add a list</button>
      Add a list...
    </a>
  </li>





